---
http_interactions:
- request:
    method: delete
    uri: https://adsapi.snapchat.com/v1/campaigns/38ef1dfa-28e8-4556-b75d-2158340e4852
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '95'
    body:
      encoding: UTF-8
      string: '{"request_status":"ERROR","request_id":"d5ff191f-041d-4a0a-9f77-9eff91ad37c2","campaigns":[{"sub_request_error_reason":"Error
        code: E3004, message: Entity does not exist or you do not have permission
        to access it","sub_request_status":"ERROR"}]}'
  recorded_at: Sat, 05 Jul 2025 18:42:17 GMT
recorded_with: VCR 6.3.1
