---
http_interactions:
- request:
    method: post
    uri: https://adsapi.snapchat.com/v1/adaccounts/dbb95f66-4e45-46f0-9760-14ea841db3b4/creatives
    body:
      encoding: UTF-8
      string: '{"creatives":[{"name":"Test Creative","type":"SNAP_AD","top_snap_media_id":"e2412304-2bb4-4145-aea2-8498414892f8","headline":"Test
        Headline","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4","profile_properties":{"profile_id":"c9ba7b74-06a2-4ea2-8c05-355287355971"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '83'
      X-Rate-Limit-Remaining:
      - '81'
      X-Rate-Limit-Reset:
      - '1753790025000'
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '1052'
    body:
      encoding: UTF-8
      string: '{"request_status":"SUCCESS","request_id":"979cb009-f6eb-471a-813d-ef1e0fecf0b7","creatives":[{"sub_request_status":"SUCCESS","creative":{"id":"627e0802-fb47-4591-b34d-b312bee8d5c7","updated_at":"2025-07-29T11:53:42.650Z","created_at":"2025-07-29T11:53:42.650Z","name":"Test
        Creative","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4","type":"SNAP_AD","packaging_status":"SUCCESS","review_status":"PENDING_REVIEW","shareable":true,"headline":"Test
        Headline","render_type":"STATIC","top_snap_media_id":"e2412304-2bb4-4145-aea2-8498414892f8","top_snap_crop_position":"MIDDLE","ad_product":"SNAP_AD","profile_properties":{"profile_id":"c9ba7b74-06a2-4ea2-8c05-355287355971"},"semantic_id":"904333221"}}]}'
  recorded_at: Tue, 29 Jul 2025 11:53:43 GMT
[...]
