---
http_interactions:
- request:
    method: get
    uri: https://adsapi.snapchat.com/v1/adaccounts/dbb95f66-4e45-46f0-9760-14ea841db3b4/creatives
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '77'
    body:
      encoding: ASCII-8BIT
      string: '{"request_status":"SUCCESS","request_id":"68c80b58-3f60-4cc0-ab87-9a99ba087db9","paging":{},"creatives":[{"sub_request_status":"SUCCESS","creative":{"id":"0f0b31b9-7615-4c0c-815b-897a6f747533","updated_at":"2025-07-06T15:58:08.434Z","created_at":"2025-07-06T15:58:08.434Z","name":"Test
        Creative for Deletion","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4","type":"SNAP_AD","packaging_status":"SUCCESS","review_status":"PENDING_REVIEW","shareable":true,"headline":"Test
        Headline for Deletion","render_type":"STATIC","top_snap_media_id":"e2412304-2bb4-4145-aea2-8498414892f8","top_snap_crop_position":"MIDDLE","ad_product":"SNAP_AD","profile_properties":{"profile_id":"c9ba7b74-06a2-4ea2-8c05-355287355971"},"semantic_id":"1683501028"}},{"sub_request_status":"SUCCESS","creative":{"id":"0f3f6368-952c-4f6f-b108-2bd438ff825b","updated_at":"2025-07-29T11:44:38.985Z","created_at":"2025-07-29T11:44:38.985Z","name":"Test
        Creative","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4","type":"SNAP_AD","packaging_status":"SUCCESS","review_status":"PENDING_REVIEW","shareable":true,"headline":"Test
        Headline","render_type":"STATIC","top_snap_media_id":"e2412304-2bb4-4145-aea2-8498414892f8","top_snap_crop_position":"MIDDLE","ad_product":"SNAP_AD","profile_properties":{"profile_id":"c9ba7b74-06a2-4ea2-8c05-355287355971"},"semantic_id":"66569471"}},{"sub_request_status":"SUCCESS","creative":{"id":"12d5c2df-69e9-438d-9ad5-8a3fe4bf9354","updated_at":"2025-07-06T11:55:32.868Z","created_at":"2025-07-06T11:55:32.868Z","name":"test
        add","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4","type":"WEB_VIEW","packaging_status":"SUCCESS","review_status":"PENDING_REVIEW","shareable":true,"forced_view_eligibility":"NONE","headline":"test","call_to_action":"VIEW","cta_color_display_mode":"AUTO_COLOR_DETECTION","render_type":"STATIC","top_snap_media_id":"b62ab493-b7d3-46c8-8c74-8006dcd96be5","top_snap_crop_position":"MIDDLE","web_view_properties":{"url":"https://www.youtube.com/","allow_snap_javascript_sdk":false,"use_immersive_mode":false,"deep_link_urls":[],"block_preload":true},"ad_product":"SNAP_AD","profile_properties":{"profile_id":"c9ba7b74-06a2-4ea2-8c05-355287355971"},"semantic_id":"-1861502155","creator_partnership_type":"NONE"}},{"sub_request_status":"SUCCESS","creative":{"id":"2179a2a5-f00d-4fc5-80a6-f7269e509170","updated_at":"2025-07-29T11:53:17.766Z","created_at":"2025-07-29T11:53:17.766Z","name":"Test
        Creative","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4","type":"SNAP_AD","packaging_status":"SUCCESS","review_status":"PENDING_REVIEW","shareable":true,"headline":"Test
        Headline","render_type":"STATIC","top_snap_media_id":"e2412304-2bb4-4145-aea2-8498414892f8","top_snap_crop_position"[...]
