---
http_interactions:
- request:
    method: post
    uri: https://adsapi.snapchat.com/v1/campaigns/ce00d8e1-ebb1-4885-8348-cf5c20375179/adsquads
    body:
      encoding: UTF-8
      string: '{"adsquads":[{"name":"Ad Squad Uno 1751801906","type":"SNAP_ADS","placement_v2":{"config":"AUTOMATIC"},"optimization_goal":"IMPRESSIONS","bid_micro":100000,"daily_budget_micro":1000000,"bid_strategy":"LOWEST_COST_WITH_MAX_BID","billing_event":"IMPRESSION","targeting":{"geos":[{"country_code":"us"}]},"start_time":"2025-08-11T22:03:58.869Z","campaign_id":"ce00d8e1-ebb1-4885-8348-cf5c20375179"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '83'
      X-Rate-Limit-Remaining:
      - '82'
      X-Rate-Limit-Reset:
      - '1751801910000'
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '701'
    body:
      encoding: ASCII-8BIT
      string: '{"request_status":"SUCCESS","request_id":"fa7e8747-5c88-41f0-8fea-571394ef1307","adsquads":[{"sub_request_status":"SUCCESS","adsquad":{"id":"cdbdd4ac-3aea-442e-8344-b994b411dbf2","updated_at":"2025-07-06T11:38:26.722Z","created_at":"2025-07-06T11:38:26.722Z","name":"Ad
        Squad Uno 1751801906","status":"PAUSED","campaign_id":"ce00d8e1-ebb1-4885-8348-cf5c20375179","type":"SNAP_ADS","targeting":{"regulated_content":false,"geos":[{"country_code":"us"}],"enable_targeting_expansion":true,"auto_expansion_options":{"interest_expansion_option":{"enabled":true},"custom_audience_expansion_option":{"enabled":true}}},"targeting_reach_status":"VALID","placement_v2":{"config":"AUTOMATIC"},"billing_event":"IMPRESSION","bid_micro":100000,"auto_bid":false,"target_bid":false,"bid_strategy":"LOWEST_COST_WITH_MAX_BID","daily_budget_micro":1000000,"start_time":"2025-08-11T22:03:58.869Z","optimization_goal":"IMPRESSIONS","delivery_constraint":"DAILY_BUDGET","pacing_type":"STANDARD","creation_state":"PUBLISHED","delivery_status":["INVALID_NOT_ACTIVE","INVALID_NOT_EFFECTIVE_ACTIVE","INVALID_EFFECTIVE_INVALID","INVALID_START_TIME","INVALID_START_TIME_AFTER_END_TIME"],"skadnetwork_properties":{"status":"NEVER_ENROLLED"}}}]}'
  recorded_at: Sun, 06 Jul 2025 11:38:27 GMT
[...]
- request:
    method: delete
    uri: https://adsapi.snapchat.com/v1/adsquads/cdbdd4ac-3aea-442e-8344-b994b411dbf2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '83'
      X-Rate-Limit-Remaining:
      - '81'
      X-Rate-Limit-Reset:
      - '1751801910000'
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '530'
    body:
      encoding: UTF-8
      string: '{"request_status":"SUCCESS","request_id":"e5494acc-6404-4d82-8bc3-5bfc9310bd7b","adsquads":[]}'
  recorded_at: Sun, 06 Jul 2025 11:38:28 GMT
recorded_with: VCR 6.3.1
