---
http_interactions:
- request:
    method: get
    uri: https://adsapi.snapchat.com/v1/adaccounts/dbb95f66-4e45-46f0-9760-14ea841db3b4/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '75'
    body:
      encoding: ASCII-8BIT
      string: '{"request_status":"SUCCESS","request_id":"e36d6f32-2fee-426c-bc94-e6e1903e29ae","paging":{},"media":[{"sub_request_status":"SUCCESS","media":{"id":"114d5da2-0e98-4727-8ae4-628ebe247be6","updated_at":"2025-07-06T13:34:45.350Z","created_at":"2025-07-06T13:34:45.350Z","name":"Test
        Upload Media","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4","type":"IMAGE","media_status":"PENDING_UPLOAD","is_demo_media":false,"visibility":"VISIBLE"}},{"sub_request_status":"SUCCESS","media":{"id":"1b2f87e1-25c0-4bd2-8879-b834704f8eb0","updated_at":"2025-06-24T08:48:54.618Z","created_at":"2025-06-24T08:48:42.315Z","name":"vinyl.png","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4","type":"IMAGE","media_status":"READY","file_name":"c9b34a69-55b1-4940-9386-78334c338a9b.png","download_link":"https://storage.googleapis.com/ad-manager-creatives-production-europe/1b2f87e1-25c0-4bd2-8879-b834704f8eb0/c9b34a69-55b1-4940-9386-78334c338a9b.png","image_metadata":{"height_px":1920,"width_px":1080,"image_format":"PNG"},"file_size_in_bytes":2490939,"is_demo_media":false,"hash":"0BIhIw==","visibility":"VISIBLE","media_usages":["TOP_SNAP"],"tile_media_id":"7ca7215d-76b0-43a3-9e6a-99573bf30f60"}},{"sub_request_status":"SUCCESS","media":{"id":"27c7ac14-b56e-4d48-a8be-80d04f5dc7f6","updated_at":"2025-07-06T13:32:29.397Z","created_at":"2025-07-06T13:32:29.397Z","name":"Test
        Media for Deletion","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4","type":"IMAGE","media_status":"PENDING_UPLOAD","is_demo_media":false,"visibility":"VISIBLE"}},{"sub_request_status":"SUCCESS","media":{"id":"2d2a7f1e-b2dd-4c15-9e07-8310210365e5","updated_at":"2025-[...]
