---
http_interactions:
- request:
    method: post
    uri: https://adsapi.snapchat.com/v1/adaccounts/dbb95f66-4e45-46f0-9760-14ea841db3b4/campaigns
    body:
      encoding: UTF-8
      string: '{"campaigns":[{"name":"Test Campaign","status":"ACTIVE","start_time":"2026-01-01T00:00:00.000Z","end_time":"2026-12-31T23:59:59.999Z","daily_budget_micro":20000000,"lifetime_spend_cap_micro":20000000}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '83'
      X-Rate-Limit-Remaining:
      - '82'
      X-Rate-Limit-Reset:
      - '1751740940000'
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '646'
    body:
      encoding: UTF-8
      string: '{"request_status":"SUCCESS","request_id":"f5068f80-cde0-4eab-b6a3-a1b444f97ce1","campaigns":[{"sub_request_status":"SUCCESS","campaign":{"id":"28741b0d-1598-48cd-b5fe-9e2a2835c0a3","updated_at":"2025-07-05T18:42:16.221Z","created_at":"2025-07-05T18:42:16.221Z","name":"Test
        Campaign","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4","daily_budget_micro":20000000,"status":"ACTIVE","objective":"BRAND_AWARENESS","start_time":"2026-01-01T00:00:00.000Z","end_time":"2026-12-31T23:59:59.999Z","lifetime_spend_cap_micro":20000000,"delivery_status":["INVALID_TEST_ACCOUNT","INVALID_START_TIME","INVALID_NOT_EFFECTIVE_ACTIVE"],"creation_state":"PUBLISHED","pacing_properties_version":0}}]}'
  recorded_at: Sat, 05 Jul 2025 18:42:16 GMT
recorded_with: VCR 6.3.1
