---
http_interactions:
- request:
    method: get
    uri: https://adsapi.snapchat.com/v1/campaigns/861cd1bc-5d58-44f3-8794-4006796db177/adsquads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '224'
    body:
      encoding: ASCII-8BIT
      string: '{"request_status":"SUCCESS","request_id":"af9bd191-569d-42aa-b5d5-25c10c0fb3fc","paging":{},"adsquads":[{"sub_request_status":"SUCCESS","adsquad":{"id":"042cd111-3258-496d-a953-31f993ec7736","updated_at":"2025-03-14T16:10:05.078Z","created_at":"2025-03-14T01:42:26.744Z","name":"
        Bathroom remodel_US_Premier Home Pros_Branded_GEO:Cobb","status":"ACTIVE","campaign_id":"861cd1bc-5d58-44f3-8794-4006796db177","type":"SNAP_ADS","targeting":{"regulated_content":false,"demographics":[{"min_age":"35","operation":"INCLUDE"}],"geos":[{"country_code":"us","postal_code":["30090"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30111"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30106"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30082"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30339"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30068"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30060"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30126"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30152"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30067"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30064"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30080"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30066"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30144"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30101"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30062"],"operation":"INCLUDE"},{"country_code":"us","postal_code":["30127"],"operation":"INCLUDE"}],"enable_targeting_expansion":true,"auto_expansion_options":{"interest_expansion_option":{"enabled":true},"custom_audience_expansion_option":{"enabled":true}}},"targeting_reach_status":"VALID","placement":"UNSUPPORTED","billing_event":"IMPRESSION","bid_micro":80000000,"auto_bid":false,"target_bid":true,"bid_strategy":"TARGET_COST","daily_budget_micro":150000000,"start_time":"2025-03-13T22:40:06.303Z","optimization_goal":"PIXEL_SIGNUP","conversion_window":"SWIPE_7DAY","pixel_id":"eb39bc4c-d375-44b8-a973-56274d309227","delivery_constraint":"DAILY_BUDGET","pacing_type":"STANDARD","child_ad_type":"REMOTE_WEBPAGE","forced_view_setting":"NONE","creation_state":"PUBLISHED","delivery_status":["INVALID_EFFECTIVE_INVALID","INVALID_NOT_EFFECTIVE_ACTIVE"],"skadnetwork_properties":{"status":"NEVER_ENROLLED"},"delivery_properties_version":1741968605037,"brand_safety_config":{"inventory_option":"FULL_INVENTORY"}}},{"sub_request_status":"SUCCESS","adsquad":{"id":"04a79fe9-8d6d-4dd1-8d8c-932b3b95c9be","updated_at":"2025-03-14T17:12:34.068Z","created_at":"2025-03-14T17:12:34.068Z","name":"
        Bathroom remodel_US_Premier Home Pros_Branded_GEO:Oakland","status":"ACTIVE","campaign_id":"861cd1bc-5d58-44f3-8794-4006796db177","type":"SNAP_ADS","targeting":{"regulated_content":false,"demographics":[{"min_age":"35"}],"geos":[{"country_code":"us","postal_code":["48370"],"operation":"INCLUDE"}[...]
