---
http_interactions:
- request:
    method: get
    uri: https://adsapi.snapchat.com/v1/adsquads/0853af89-5929-4c6d-ac6f-78310b434aac/stats?end_time=2025-07-31T00:00:00%2B02:00&granularity=DAY&start_time=2025-07-01T00:00:00%2B02:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '1666'
      X-Rate-Limit-Remaining:
      - '1665'
      X-Rate-Limit-Reset:
      - '1753790015000'
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"request_status":"SUCCESS","request_id":"9b042a73-cabc-4dbb-b444-292c361a5a2a","timeseries_stats":[{"sub_request_status":"SUCCESS","timeseries_stat":{"id":"0853af89-5929-4c6d-ac6f-78310b434aac","type":"AD_SQUAD","granularity":"DAY","start_time":"2025-07-01T00:00:00.000+02:00","end_time":"2025-07-31T00:00:00.000+02:00","finalized_data_end_time":"2025-07-29T09:00:00.000Z","timeseries":[{"start_time":"2025-07-01T00:00:00.000+02:00","end_time":"2025-07-02T00:00:00.000+02:00","stats":{"impressions":0,"spend":0}},{"start_time":"2025-07-02T00:00:00.000+02:00","end_time":"2025-07-03T00:00:00.000+02:00","stats":{"impressions":0,"spend":0}},{"start_time":"2025-07-03T00:00:00.000+02:00","end_time":"2025-07-04T00:00:00.000+02:00","stats":{"impressions":0,"spend":0}},{"start_time":"2025-07-04T00:00:00.000+02:00","end_time":"2025-07-05T00:00:00.000+02:00","stats":{"impressions":0,"spend":0}},{"start_time":"2025-07-05T00:00:00.000+02:00","end_time":"2025-07-06T00:00:00.000+02:00","stats":{"impressions":0,"spe[...]
