---
http_interactions:
- request:
    method: get
    uri: https://adsapi.snapchat.com/v1/campaigns/ce00d8e1-ebb1-4885-8348-cf5c20375179/stats?end_time=2025-07-31T00:00:00%2B02:00&granularity=DAY&start_time=2025-07-01T00:00:00%2B02:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '1666'
      X-Rate-Limit-Remaining:
      - '1665'
      X-Rate-Limit-Reset:
      - '1751740940000'
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"request_status":"SUCCESS","request_id":"c7035989-c5c6-49fc-9c6c-34c524932deb","timeseries_stats":[{"sub_request_status":"SUCCESS","timeseries_stat":{"id":"ce00d8e1-ebb1-4885-8348-cf5c20375179","type":"CAMPAIGN","granularity":"DAY","start_time":"2025-07-01T00:00:00.000+02:00","end_time":"2025-07-31T00:00:00.000+02:00","finalized_data_end_time":"2025-07-05T14:00:00.000Z","timeseries":[{"start_time":"2025-07-01T00:00:00.000+02:00","end_time":"2025-07-02T00:00:00.000+02:00","stats":{"impressions":0,"spend":0}},{"start_time":"2025-07-02T00:00:00.000+02:00","end_time":"2025-07-03T00:00:00.000+02:00","stats":{"impressions":0,"spend":0}},{"start_time":"2025-07-03T00:00:00.000+02:00","end_time":"2025-07-04T00:00:00.000+02:00","stats":{"impressions":0,"spend":0}},{"start_time":"2025-07-04T00:00:00.000+02:00","end_time":"2025-07-05T00:00:00.000+02:00","stats":{"impressions":0,"spend":0}},{"start_time":"2025-07-05T00:00:00.000+02:00","end_time":"2025-07-06T00:00:00.000+02:00","stats":{"impressions":0,"spe[...]
