---
http_interactions:
- request:
    method: post
    uri: https://adsapi.snapchat.com/v1/campaigns/ce00d8e1-ebb1-4885-8348-cf5c20375179/adsquads
    body:
      encoding: UTF-8
      string: '{"adsquads":[{"name":"Ad Squad Uno 1753790008","type":"SNAP_ADS","placement_v2":{"config":"AUTOMATIC"},"optimization_goal":"IMPRESSIONS","bid_micro":100000,"daily_budget_micro":1000000,"bid_strategy":"LOWEST_COST_WITH_MAX_BID","billing_event":"IMPRESSION","targeting":{"geos":[{"country_code":"us"}]},"start_time":"2025-08-11T22:03:58.869Z","campaign_id":"ce00d8e1-ebb1-4885-8348-cf5c20375179"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '83'
      X-Rate-Limit-Remaining:
      - '81'
      X-Rate-Limit-Reset:
      - '1753790010000'
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: '{"request_status":"SUCCESS","request_id":"71c8edb0-add0-4541-a249-922131c0bc49","adsquads":[{"sub_request_status":"SUCCESS","adsquad":{"id":"04d6e5eb-564f-4c8d-856b-e7f38f04685b","updated_at":"2025-07-29T11:53:28.749Z","created_at":"2025-07-29T11:53:28.749Z","name":"Ad
        Squad Uno 1753790008","status":"PAUSED","campaign_id":"ce00d8e1-ebb1-4885-8348-cf5c20375179","type":"SNAP_ADS","targeting":{"regulated_content":false,"geos":[{"country_code":"us"}],"enable_targeting_expansion":true,"auto_expansion_options":{"interest_expansion_option":{"enabled":true},"custom_audience_expansion_option":{"enabled":true}}},"targeting_reach_status":"VALID","placement_v2":{"config":"AUTOMATIC"},"billing_event":"IMPRESSION","bid_micro":100000,"auto_bid":false,"target_bid":false,"bid_strategy":"LOWEST_COST_WITH_MAX_BID","daily_budget_micro":1000000,"start_time":"2025-08-11T22:03:58.869Z","optimization_goal":"IMPRESSIONS","delivery_constraint":"DAILY_BUDGET","pacing_type":"STANDARD","creation_state":"PUBLISHED","delivery_status":["INVALID_NOT_ACTIVE","INVALID_START_TIME_AFTER_END_TIME","INVALID_NOT_EFFECTIVE_ACTIVE","INVALID_START_TIME"],"skadnetwork_properties":{"status":"NEVER_ENROLLED"}}}]}'
  recorded_at: Tue, 29 Jul 2025 11:53:29 GMT
- request:
    method: delete
    uri: https://adsapi.snapchat.com/v1/adsquads/04d6e5eb-564f-4c8d-856b-e7f38f04685b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '83'
      X-Rate-Limit-Remaining:
      - '81'
      X-Rate-Limit-Reset:
      - '1753790010000'
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '557'
    body:
      encoding: UTF-8
      string: '{"request_status":"SUCCESS","request_id":"5ae9a6b1-0806-4ac0-9e7a-e95bdae885ed","adsquads":[]}'
  recorded_at: Tue, 29 Jul 2025 11:53:29 GMT
recorded_with: VCR 6.3.1
