---
http_interactions:
- request:
    method: put
    uri: https://adsapi.snapchat.com/v1/adaccounts/dbb95f66-4e45-46f0-9760-14ea841db3b4/campaigns
    body:
      encoding: UTF-8
      string: '{"campaigns":[{"name":"Updated Campaign Name","status":"PAUSED","start_time":"2027-01-01T00:00:00.000Z","id":"38ef1dfa-28e8-4556-b75d-2158340e4852","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '94'
    body:
      encoding: UTF-8
      string: '{"request_status":"ERROR","request_id":"c8b40708-2ae2-4fe6-a8f4-050fb250b7c4","campaigns":[{"sub_request_error_reason":"Error
        code: E3004, message: Entity does not exist or you do not have permission
        to access it","sub_request_status":"ERROR"}]}'
  recorded_at: Sat, 05 Jul 2025 18:42:16 GMT
recorded_with: VCR 6.3.1
