---
http_interactions:
- request:
    method: post
    uri: https://adsapi.snapchat.com/v1/adaccounts/dbb95f66-4e45-46f0-9760-14ea841db3b4/media
    body:
      encoding: UTF-8
      string: '{"media":[{"name":"Test Media","type":"IMAGE"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '25'
      X-Rate-Limit-Remaining:
      - '24'
      X-Rate-Limit-Reset:
      - '1753790030000'
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '244'
    body:
      encoding: UTF-8
      string: '{"request_status":"SUCCESS","request_id":"0428f679-8ea9-4b48-9c89-c9c88276b4b2","media":[{"sub_request_status":"SUCCESS","media":{"id":"d7195f60-32e0-41ca-90f8-0661a2b57ecd","updated_at":"2025-07-29T11:53:45.306Z","created_at":"2025-07-29T11:53:45.306Z","name":"Test
        Media","ad_account_id":"dbb95f66-4e45-46f0-9760-14ea841db3b4","type":"IMAGE","media_status":"PENDING_UPLOAD","is_demo_media":false,"visibility":"VISIBLE"}}]}'
  recorded_at: Tue, 29 Jul 2025 11:53:45 GMT
recorded_with: VCR 6.3.1
