---
http_interactions:
- request:
    method: get
    uri: https://adsapi.snapchat.com/v1/ads/bb05b099-140f-47ad-ab96-827960fbdf16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Tr-St-1:
      - '82'
    body:
      encoding: UTF-8
      string: '{"request_status":"SUCCESS","request_id":"aa28557b-f454-48b5-916f-7b049d39ad4c","ads":[{"sub_request_status":"SUCCESS","ad":{"id":"bb05b099-140f-47ad-ab96-827960fbdf16","updated_at":"2025-07-06T11:55:52.064Z","created_at":"2025-07-06T11:55:35.938Z","name":"test
        add","ad_squad_id":"0853af89-5929-4c6d-ac6f-78310b434aac","creative_id":"8f9d8d06-7c0e-462b-9d76-23dfea9b9bbc","status":"PAUSED","type":"STORY","render_type":"STATIC","review_status":"APPROVED","delivery_status":["INVALID_NOT_EFFECTIVE_ACTIVE","INVALID_NOT_ACTIVE","INVALID_EFFECTIVE_INVALID"]}}]}'
  recorded_at: Tue, 29 Jul 2025 11:53:10 GMT
recorded_with: VCR 6.3.1
